$screen-md: 720px;
$screen-lg: 992px;
$screen-xl: 1200px;

$font-small: 14px;
$font-main: 16px;
$font-title: 18px;

$font-stack: 'Open Sans', sans-serif;

$text1: #333333;
$text2: #999999;
$text3: #CCCCCC;

$main-color: #2fafde;
$second-color: #3f76ab;